    <div class="container-fluid">
            <div class="block-header">
                <h2>Add/Remove Roles</h2>
            </div>

            <div class="row clearfix">
                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Add Role</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <%= form_tag(add_role_path(:role, :privilege, :id => @world.id), {:method => :post, :class => "form form-horizontal"}) do %>
                         <div class="field">
                         <label>Role:  </label>
                         <%= text_field_tag :role, "", class: "form-control", :required => true %>
                         </div>
                         <div class="field">
                         <label>Privilege:  </label>
                          <%= select_tag :privilege, options_for_select(@privileges), :required => true %>
                        </div>
                        <br>
                        <p><%= submit_tag 'Submit', class: "btn btn-block btn-lg bg-pink waves-effect" , data: { confirm: "Are you sure?" } %></p>
                        <% end %>
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->

                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Remove Role</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                        <%normal_roles = @roles%>
                         <%normal_roles.delete("admin")%>
                            <%= form_tag(remove_role_path(:role,:change_to, :id => @world.id), {:method => :post, :class => "form form-horizontal"}) do %>
                         
                         <div class="field">
                         <label>Role:  </label>
                         <%= select_tag :role, options_for_select(normal_roles), :required => true %>
                         </div>
                         <br>
                         <div class="field">
                         <label>Change Role of worlds having this role to: </label>
                         <%= select_tag :change_to, options_for_select(normal_roles), :required => true %>
                         </div>
                         
                        <br>
                        <p><%= submit_tag 'Submit', class: "btn btn-block btn-lg bg-pink waves-effect" , data: { confirm: "Are you sure?" } %></p>
                         <%end%>
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->

                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Change Privilege</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <%= form_tag(change_privilege_path(:role, :privilege, :id => @world.id), {:method => :post, :class => "form form-horizontal"}) do %>
                        <%normal_roles = @roles%>
                         <%normal_roles.delete("admin")%>
                        <div class="field">
                         <label>Role:  </label>
                         <%= select_tag :role, options_for_select(normal_roles), :required => true %>
                         </div>
                         <div class="field">
                         <label>Privilege: </label>
                          <%= select_tag :privilege, options_for_select(@privileges), :required => true %>
                          </div>
                        <br>
                        <p><%= submit_tag 'Submit', class: "btn btn-block btn-lg bg-pink waves-effect" , data: { confirm: "Are you sure?" } %></p>
              <% end %>
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->

        </div>
    </section>



