	<div class="container-fluid">
      <div class="block-header">
          <h2>Viewing World</h2>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="header">
                <h2>Your World</h2>
            </div>
          	<% if !@world.errors.empty? %>
		         <div class="alert alert-error">
    						<ul>
     					 	<% @world.errors.full_messages.each do |msg| %>
        						<li><%= msg %></li>
      						<% end %>
    						</ul>
		         </div>
            <% end %>
						
            <div style="padding: 2%">
            <label><b> Title: </b></label>
            <label><%= @world.title %></label></br>
            <label><b> Created on: </b></label>
            <label><%= @world.created_at %></label></br>
            <label>Current location: <%= World.find(@world.location_id).title %></label><br>
  			<label><%= link_to 'Edit', edit_world_path(@world), class: "btn btn-block btn-lg bg-pink waves-effect" %></label>  
  			<label><%= link_to 'Back', my_worlds_path, class: "btn btn-block btn-lg bg-pink waves-effect" %></label>
        <label><%= link_to 'Settings', world_settings_path(:id => @world.id), class: "btn btn-block btn-lg bg-pink waves-effect"%></label>
   			</div>
          </div
        </div>    
      </div>
  </div>
</section>




